$hijau-muda: #7ed56f;
$medium-hijau: #55c57a;
$hijau-tua: #28b485;

$orange-muda: #ffb900;
$orange-tua: #ff7730;

$biru-muda: #2988ff;
$biru-tua: #5643fa;

$warna-text: #777;
$warna-putih: #fff;
$warna-hitam: #000;

$panjang-grid: 114rem;
$margin-vertikal: 8rem;
$margin-horizontal: 6rem;