/* Animation */

@keyframes kanan {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes kiri {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bawah {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}